<footer class="bottom-0 text-center w-full py-4">
    <!--Logo etc-->

    <div class="flex items-center">
    <small class="text-gray-500">Copyright ©
        {{settings.name}}
        2023. Made by
        <a href="{{settings.url}}" target="_blank" class="underline">{{settings.author}}</a>.
        Built with 11ty and Netlify CMS.
    </small>
        <div class="flex items-center">
            <br>
            <a href="/" class="text-indigo-500 font-bold text-sm">
                Blog Landing Page- PharmacyInformatics.Blog</a>
        </div>
    </div>
</footer>
